<p>Your reservation has been succesfully created and approved.
    See the ticket below
    </p>
    
    <p>Regards,</p>
    <p><h3>Smart Flights Team</h3></p>
    <section>
      <div><strong>Travel Ticket</strong></div>
      <div><strong>Name:   </strong>{{ uname }}</div>
      <div><strong>Email:  </strong>{{ email }}</div>
      <div><strong>Flight: </strong><span>{{ name }}</span></div>
      <div><strong>From:  </strong><span>{{ origin }}</span></div>
      <div><strong>To:    </strong><span>{{ destination }}</span></div>
      <div><strong>Date:  </strong><span>{{ date }}</span></div>
      <div><strong>Time:  </strong><span>{{ time }}</span></div>
      <div><strong>Number of Seats: </strong><span>{{ seats }}</span></div>
    </section>
  </div>
</body>

</html>
